.box {
    width: 100px;
    height: 100px;
}

.green {
    border: 3px solid green;
}

.red {
    border: 3px solid red;
}

.blue {
    border: 3px solid blue;
}

.green {
    /* position: absolute; */
}

.red {
    position: absolute;
    /* z-index: -1; */
    left: 50px;
    top: 50px;
}

.green {
    position: relative;
    top: 100px;
    left: 100px;
}

.blue {
    position: relative;
    top: 50px;
    left: 150px;
}