.box {
    width: 100px;
    height: 100px;
}

.green {
    border: 3px solid green;
}

.red {
    border: 3px solid red;
}

.blue {
    border: 3px solid blue;
}

.green {
    position: relative;
    top: 50px;
    left: 50px;
}