.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: 50px 50px 50px 50px 50px 50px; */
    /* grid-template-rows: auto auto auto auto; */
}

.header {
    grid-column: 1 / 5;
}

.container > div {
    /* height: 50px; */
    padding: 10px;
    /* border: 1px solid black; */
    text-align: center;
    color: white;
}

.header {
    background-color: #54D5EB;
}

.sidebar {
    background-color: #A0C262;
}

.main {
    background-color: #F5C531;
}

.extra {
    background-color: #898989;
}

.footer {
    background-color: #FFA503;
}

.main {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
}

.extra {
    grid-column: 2 / 5;
}

.footer {
    grid-column: 1 / 5;
}