body {
    height: 2000px;
}

.header {
    position: sticky;
    top: 0;
}

.subHeader {
    position: sticky;
    top: 57.273px;
}

.header {
    background-color: chocolate;
    color: white;
    padding: 10px;
}

.subHeader {
    background-color: blueviolet;
    color: white;
    padding: 10px;
}