/* external css styling */
ul {
    color: blue;
}

/* class has higher priority than element selector */
.olist {
    color: yellow;
}

/* element selector has least priority */
ol {
    color: chocolate !important;
}

/* last style has the highest priority */

/*
    Precedence:

    From lowest to highest:

    1. External CSS
    2. Internal CSS
    3. Inline CSS

    w.r.t the selectors:

    1. Element Selector
    2. Class Selector
    3. ID Selector
*/